body {
	margin: 0;
	padding: 0;
	background: #ccc;
	font-size: 12pt;
	font-family: sans-serif;
}

div.section {
	border: 1px solid #bbb;
	border-width: 2px 3px 3px 2px;
	background: #fff;
	color: #222;
	padding: 0;
	margin: 5% 15%;
	width: 70%;
	max-width: 1200px;
	padding: 0;
}

img {
	margin: 0;
	padding: 0;
	width: 100%;
	border: 0;
}

h1 {
	margin: 2em;
	text-align: center;
	font-size: 20pt
}

h1 strong {
	font-size: 30pt;
}

h2, h3, h4, p, cite, ul {
	margin: 1em 3em;
}

h2 {
	margin-top: 2em;
	font-size: 25pt;
}

h3 {
	color: #444;
	font-weight: bold;
	text-align: center;
	font-size: 15;
}

h4 {
	font-size: 12pt;
	font-weight: bold;
}

blockquote {
	text-align: right;
}

blockquote p {
	padding-left: 15%;
	font-style: italic;
}

blockquote cite {
	font-style: normal;
	padding-left: 15%;
	font-weight: bold;
}

.notes {
	list-style-type: none;
	font-size: 75%;
	border: 1px solid #eee;
	border-width: 3px 0 0;
}

.centered {
	text-align: center;
}

.rightAligned {
	text-align: right;
}

.aside {
	border: 1px solid #d5d5d5;
	padding: 1em;
	margin: 1em;
	background: #f2f3f4;
}

ul {
	padding: 0;
	list-style: inside;
}

ul li, ol li {
	padding: 1em;
}


ol {
	padding-left: 5em;
}
ol li {
	font-size: 2em;
	color: #8b0202;
}

ol li span {
	font-size: .5em;
	color: #000;
}

.underlined {
	text-decoration: underline;
}

table {
	border-collapse: collapse;
	margin: 3em auto 3em;
}
table td, th {
	border: 1px solid #000;
	padding: .5em 1.5em;
}

td {
	text-align: right;
}

ul.logoList {
	list-style: none;
	margin: 0 15%;
}
ul.logoList li {
	width: 200px;
	float: left;
}

ul.logoList li.clearfix {
	float: none;
}

ul.toc {
	list-style: none;
}

.toc .renvoi {
	display: none;
}

.sectionAnchor, .subSectionAnchor, .chapterAnchor {
	padding: 0;
}

.sectionAnchor a, .subSectionAnchor a, .chapterAnchor a {
	color: #000;
	font-weight: bold;
}

.sectionAnchor a:hover, .subSectionAnchor a:hover, .chapterAnchor a:hover {
	color: #4681d6;
}

.sectionAnchor {
	font-size: 20pt;
	margin-top: 2em;
}

.subSectionAnchor {
	margin-top: .5em;
}

.subSectionAnchor a {
	font-size: 15pt;
	text-decoration: none;
	padding-left: 3em;
}

.chapterAnchor a {
	padding-left: 5em;
	text-decoration: none;
	font-size: 12pt;
	font-weight: bold;
}

.renvoi {
	font-size: 75%;
	position: relative;
	top: -.5em;
	text-decoration: none;
	color: #c00;
	padding: 0 !important;
}

.renvoi:hover {
	text-decoration: underline;	
}

.shareTools {
	width: 64px;
	position: fixed;
	top: 10em;
	left: 0;
	list-style: none;
}

.shareTools img {
	width:	64px;
	border: 1px solid #ccc;
}

.nav {
	text-align: center;
}

.nav a, .nav a:visited {
	font-size: 2em;
	font-weight: bold;
	text-decoration: none;
	color: #000;
	padding: .5em 3em;
}

.nav a:hover, .nav a:active {
	color: #4681d6;
	background: #f8f8f8;
}
